{% extends "admin/index.html" %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 10552602;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<noscript>
<a href="https://www.livechatinc.com/chat-with/10552602/" rel="nofollow">Chat with us</a>,
powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a>
</noscript>
<!-- End of LiveChat code -->
{% endblock %}

{% block sidebar %}
    {{block.super}}
    <div>
        <h1><strong>List of pre-installed library</strong></h1>
        <h2>Pre build 11.90.8</h2>
        <a href="/admin/station/stats/">Published Stations</a>
    </div>
{% endblock %}