{% extends "base.html" %}

{% block title %}AidaTestSuite - Dashboard{% endblock %}
{% load static %}
{% block content %}
<div class="content-wrapper">
            <!-- Content Header (Page header) -->
        <section class="content-header" id="c_head">
            <h1>
                Marketplace Pubblication
                <small>for yours Test Templates</small>
            </h1>
            <!--
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
            -->
        </section>
    <section class="content">
        <div class="callout callout-warning">
                    <h4>I am a warning callout!</h4>
                    <p>This is a yellow callout.</p>
                  </div>
<!-- FIRST ROW CONTAINING FIELD FOR PUBLISH TEMPLATE-->
<div id="p_main" class="row">
   <!-- left column -->
   <div class="col-md-6">
      <div class="box box-primary">
         <div class="box-header">
            <h3 class="box-title">Publication Preferences</h3>
         </div>
         <!-- /.box-header -->
         <!-- form start -->
         <form method="POST" onsubmit="return isempty();" action="/tpublish/TOK/" role="form">
            {% csrf_token %}
            <div class="box-body">
               <div class="form-group">
                  <label for="t_select" onmouseover="nhpup.popup('<strong>The different types of templates aggregation to chose.</strong><br><br><i>Single Template</i> allows you to perform the run starting from the choise of a single template while the other options refer to previously defined groupings of templates',{'class': 'pup_class3'});">Select Template <strong>(?)</strong></label>
                  <select id="t_select" name="t_select" onChange="clicktemp(this.value);" class="form-control">
                        <option>Please select...</option>
                      </select>
               </div>
               <div class="form-group">
                  <label for="t_descr" onmouseover="nhpup.popup('<strong>What other users will read in the store about your test.</strong><br><br><i>Single Template</i> Description of the template displayed in the store, it is important to summarize the main characteristics of the test.',{'class': 'pup_class3'});">Store description <strong>(?)</strong></label>
                  <textarea id="t_descr" name="t_descr" class="form-control" rows="3" placeholder="Enter ..."></textarea>
               </div>
               <div class="form-group">
                  <label for="t_cover" onmouseover="nhpup.popup('<strong>The main coverage area of the template.</strong><br><br><i>Select the main coverage area of the template you want to publish on the store so that it is easier to find in relation to user\'s interest',{'class': 'pup_class3'});">Test coverage area <strong>(?)</strong></label>
                  <select id="t_cover" name="t_cover" class="form-control">
                        <option>API</option>
                        <option>Architecture</option>
                        <option>Database</option>
                        <option>OS</option>
                        <option>Web</option>
                        <option>..Other</option>
                      </select>
               </div>
                <div class="form-group">
                  <label for="t_price" onmouseover="nhpup.popup('<strong>The different types of templates aggregation to chose.</strong><br><br><i>Single Template</i> allows you to perform the run starting from the choise of a single template while the other options refer to previously defined groupings of templates',{'class': 'pup_class3'});">Test credits price <strong>(?)</strong></label>
                  <select id="t_price" name="t_price" class="form-control">
                        <option>1</option>
                        <option>3</option>
                        <option>6</option>
                        <option>9</option>
                        <option>12</option>
                      </select>
               </div>
                <div class="form-group">
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                          Option one is this and that—be sure to include why it's great
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                          Option two can be something else and selecting it will deselect option one
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                          Option three is disabled
                        </label>
                      </div>
                    </div>
               <div class="checkbox">
                  <label>
                      <input id="t_terms" name="t_terms" type="checkbox"><strong> I agree the <a href="">Terms of Services</a></strong>
                  </label>
               </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
               <button type="submit" class="btn btn-primary">PUBLISH TEMPLATE</button>
            </div>
         </form>
      </div>
   </div>

<!-- RIGHT AREA DISPLAYNG TEMPLATE SELECTION DETAILS (FILL DATA AFTER TEMPLATE SELECTION FROM COMBO t_select IN LEFT AREA)-->
<div id="t_details" style="visibility:hidden" class="col-md-6">
    <div class="box box-primary">
         <div class="box-header">
            <h3 class="box-title">Template Details (internal)</h3>
         </div>
        <form role="form">
            <div class="box-body">
        <div class="form-group">
            <label>Template Description</label>
            <textarea id="det_descr" class="form-control" rows="3" disabled=""></textarea>
        </div>
                <div class="form-group">
            <label>Creation Date</label>
            <input id="det_dt" type="text" class="form-control" disabled="">
        </div>
        <div class="box box-solid box-primary">
                <div class="box-header">
                  <h3 class="box-title">Template Notes</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-primary btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body">
                  <p id="det_notes"></p>
                </div><!-- /.box-body -->
        </div>
        <div class="form-group">
            <label>Test Type</label>
            <input id="det_type" type="text" class="form-control" disabled="">
        </div>
                <div class="form-group">
            <input id="id_test" type="text" class="form-control" disabled="">
        </div>
            </div>
        </form>
    </div>
</div>
</div>
<!-- SECOND ROW CONTAINING TABLE ABOUT PUBLISHED TEMPLATES-->
<div id="p_tab" class="row">
   <div class="col-xs-12">
      <div class="box">
         <div class="box-header">
            <h3 class="box-title">Hover Data Table</h3>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            <div id="example2_wrapper" class="dataTables_wrapper form-inline" role="grid">
               <div class="row">
                  <div class="col-xs-6"></div>
                  <div class="col-xs-
                     6"></div>
               </div>
               <table id="tab_export" class="table table-bordered table-hover dataTable" aria-describedby="example2_info">
                  <thead>
                     <tr role="row">
                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-
                           label="Rendering engine: activate to sort column descending">Store ID</th>
                        <th>Test Name</th>
                        <th>Publish Data</th>
                         <th>End Data</th>
                        <th>Status</th>
                        <th>Credits</th>
                         <th>Description</th>
                         <th>Coverage</th>
                     </tr>
                  </thead>
                  <!--
                   <tfoot>
                     <tr>
                        <th rowspan="1" colspan="1">Rendering engine</th>
                        <th rowspan="1" colspan="1">Browser</th>
                        <th rowspan="1" colspan="1">Platform(s)</th>
                        <th rowspan="1" colspan="1">Engine version</th>
                        <th rowspan="1" colspan="1">CSS grade</th>
                     </tr>
                  </tfoot>
                  -->
                  <tbody id="tab_body" role="alert" aria-live="polite" aria-relevant="all">
                     <!--Ajax in t_publish.js get_tab-->
                  </tbody>
               </table>
                <!--
               <div class="row">
                  <div class="col-xs-6">
                     <div class="dataTables_info" id="example2_info">Showing 1 to 10 of 57
                        entries
                     </div>
                  </div>
                  <div class="col-xs-6">
                     <div class="dataTables_paginate paging_bootstrap">
                        <ul class="pagination">
                           <li class="prev disabled"><a href="#">← Previous</a></li>
                           <li
                              class="active"><a href="#">1</a></li>
                           <li><a href="#">2</a></li>
                           <li><a href="#">3</a></li>
                           <li><a href="#">4</a></li>
                           <li><a href="#">5</a></li>
                           <li class="next"><a href="#">Next
                              → </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
                -->
            </div>
         </div>
         <!-- /.box-body -->
      </div>
   </div>
</div>

<!-- THIRDTH ROW CONTAINING DETAILS ABOUT SELECTED FIELD IN TABLE AND DELETE OPTION (DEFAULT HIDDEN)-->
<div id="p_det" style="display: none;" class="row">
   <div class="col-xs-12">
      <div class="box box-success">
         <div class="box-header">
            <h3 class="box-title">Template publication management ID <span id="t_det" class="label label-default"></span></h3>
         </div>
         <div class="box-body">
            <div class="form-group">
                <label>Store Description</label>
                <textarea id="t_det_e" class="form-control" rows="3" ></textarea>
            </div>
             <div class="form-group">
                 <label>Test coverage</label>
                 <select id="t_cov_e" class="form-control">
                        <option>API</option>
                        <option>Architecture</option>
                        <option>Database</option>
                        <option>OS</option>
                        <option>Web</option>
                        <option>Other</option>
                 </select>
             </div>
             <div class="form-group">
                 <label>Credits (Price)</label>
                 <select id="t_price_e" class="form-control">
                        <option>1</option>
                        <option>3</option>
                        <option>6</option>
                        <option>9</option>
                        <option>12</option>
                 </select>
             </div>
             <div class="callout callout-info">
                    <h4>I am an info callout!</h4>
                    <p>Follow the steps to continue to payment.</p>
                  </div>
         </div>
          <div id="t_mod_but" class="box-body">
                  <div class="row">
                    <div class="col-xs-3">
                      <button class="btn btn-block btn-success btn-lg" onclick="pend('upd')">UPDATE</button>
                    </div>
                    <div class="col-xs-3">
                      <button class="btn btn-block btn-danger btn-lg" onclick="pend('end')">END PUBLICATION</button>
                    </div>
                  </div>
          </div>
         <!-- /.box-body -->
      </div>
   </div>
</div>
</div>
</section>
{% endblock %}
{% block script %}
    <!-- jQuery 2.1.3 -->
    <script src="{% static "plugins/jQuery/jQuery-2.1.3.min.js" %}"></script>
    <script src="{% static "dist/js/nhpup_1.1.js" %}" type="text/javascript"></script>
    <!-- My js for ajax automatic template render -->
    <script src="{% static "js/t_publish.js" %}" type="text/javascript"></script>
    <script>
        document.body.onload = function () {
            seltemp();
            get_tab();
        };
    </script>
{% endblock %}
        