{% extends "base.html" %}

{% block title %}AidaTestSuite - Dashboard{% endblock %}
{% load static %}
{% block content %}

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Active Test
                <small>run and schedule testing</small>
            </h1>
            <!--
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
            -->
        </section>
        {% if 'demo.myaida.io' in request.build_absolute_uri and uCookie != 'Y' %}
            <div id="overlay_demo" style="display:block">
                <div id="text-demo">
                    <div class="login-box-body" id="demo_slide1">
                        <p class="login-box-msg"><strong>A VERY QUICK TUTORIAL</strong></p>
                        <div>
                            <img src="{% static "dist/img/demo1.png" %}"/>
                        </div>
                        <br>
                        <p>Welcome to aida!<br>This is a very short tutorial that wants to show you the main areas of use.<br><br>
                            In the left side menu there are buttons that you will need to move from one area to another of your aida testsuite, the <strong>"Run-Active"</strong> button for example will allow you to launch and monitor in real time all the tests that are running in the system .<br>
<br>From this area you can plan, manage and monitor live activities in aida.</p>
                        <br><br>
                    <div>
                    <!--Button for demo account only -->
                        <button onclick="showHide('demo1');" class="btn btn-block btn-success btn-lg">NEXT>></button>
                    </div>

                    </div>
                    <div class="login-box-body" id="demo_slide2" style="display:none">
                        <p class="login-box-msg"><strong>THE HISTORY AREA</strong></p>
                        <div>
                            <img src="{% static "dist/img/demo2.png" %}"/>
                        </div>
                        <br>
                        <p>Another very important area, which is where you are now, is the one called <strong>"History"</strong>.<br>In this page you will find all the tests that have been carried out and are finished, you can see the execution details by simply clicking on the one that interests you, ordering and filtering them using the "Search and Filter" area.<br><br>
From this area it is therefore possible to manage everything concerning the test runs carried out to date.</p>
                        <br><br>
                    <div>
                    <!--Button for demo account only -->
                        <button onclick="showHide('demo2');" class="btn btn-block btn-success btn-lg">NEXT>></button>
                    </div>

                    </div>
                    <div class="login-box-body" id="demo_slide3" style="display:none">
                        <p class="login-box-msg"><strong>MANAGE TEMPLATES AND SETTINGS</strong></p>
                        <div>
                            <img src="{% static "dist/img/demo3.png" %}"/>
                        </div>
                        <br>
                        <p>To manage and create your own templates the <strong>"Templates Manager"</strong> area is the one to use.<br>In this area, you can also manage all the main settings related to your suite.<br><br>
This area will therefore allow you to manage everything related to your testing templates as well as the general aida settings.</p>
                        <br><br>
                    <div>
                    <!--Button for demo account only -->
                        <button onclick="showHide('demo3');" class="btn btn-block btn-success btn-lg">NEXT>></button>
                    </div>

                    </div>
                    <div class="login-box-body" id="demo_slide4" style="display:none">
                        <p class="login-box-msg"><strong>DOCUMENTATION</strong></p>
                        <div>
                            <img src="{% static "dist/img/demo4.png" %}"/>
                        </div>
                        <br>
                        <p>For all your doubts you will be able to find an answer in the documentation, index and images will help you in finding and understanding the topics for which you seek support.<br><br>
For quick answers, you can request 24/24 support chatting with the integrated aida virtual assistant.</p>
                        <br><br>
                    <div>
                    <!--Button for demo account only -->
                        <button onclick="showHide('demo4');" class="btn btn-block btn-success btn-lg">GOT IT</button>
                    </div>

                    </div>
                </div>
            </div>
        {% endif %}
        <div id="overlay" style="display:none">
            <div id="text"><span style="background-color: #000000; padding: 10px;"> Transfering schema to the server....initializing </span></div>
        </div>
        <div id="overlay_proc" style="display:none">
            <div id="text"><span style="background-color: #000000; padding: 10px;"> Getting proces data...please wait </span></div>
        </div>
        <div id="overlay_get" style="display:none">
            <div id="text"><span style="background-color: #000000; padding: 10px;"> Getting template...please wait </span></div>
        </div>
        <div id="overlay_stop" style="display:none">
            <div id="text"><span style="background-color: #000000; padding: 10px;"> Stopping proces and sub-task...please wait </span></div>
        </div>
        <section class="content">
            <div class="row">
                <!-- Main content -->
                <section class="col-lg-5 connectedSortable ui-sortable">

                    <div class="box box-primary" id="t_launch">
                        <!-- general form elements disabled -->
                        <div class="box-header">
                            <h3 class="box-title">Test Run Configurator</h3>
                            <!--<div class="box-tools pull-right">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i>
                                </button>
                            </div>-->
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <form name="form_main" role="form">
                                <div class="form-group" id="type_sel">
                                    <label onmouseover="nhpup.popup('<strong>The different types of templates aggregation to chose.</strong><br><br><i>Single Template</i> allows you to perform the run starting from the choise of a single template while the other options refer to previously defined groupings of templates',{'class': 'pup_class3'});">Type selection <strong>(?)</strong></label>

                                    <div class="box-header">
                                    <select class="form-control" onChange="javascript:seltype(this);" id="sel_type">
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="ST">Single Template</option>
                                        <option value="TG">Test Group</option>
                                        <option value="TA">TAG Aggregation</option>
                                        <option value="PA">Project Aggregation</option>
                                    </select>
                                    </div>
                                </div>
                                <!-- select -->
                                <div class="form-group" id="test_sel">
                                    <label onmouseover="nhpup.popup('<strong>Template/Group selection</strong><br><br>Depending on the choice of aggregation made previously in this section, it is possible to select the template to perform or the desired grouping.',{'class': 'pup_class3'});">Select Test (?)</label>
                                        <div class="box-header">
                                        <select class="form-control" onChange="AddOptions(this);" id="sel_opt" disabled>
                                        <option value="">Please select...</option>
                                        <!-- DOM Created relative to main select -->
                                        </select>
                                        <div class="box-tools pull-right">
                                            <a href="/admin/" class="btn btn-sm btn-default"><i class="fa fa-edit"></i></a>
                                        </div>
                                        </div>
                                 </div>
                                <div class="form-group" id="test_tabs">
                                    <!-- Tab style container for multiple test selection -->
                                    <div class="nav-tabs-custom" id="tab_div1">
                                        <div class="tab-content" id="tab_div2">
                                            <!-- DOM dinamically crated in start.js AddOptions method -->
                                        </div><!-- /.tab-content -->
                                    </div>
                                    <!-- end tab containser -->
                                </div>
                                <!-- select run type (sanity regression ecc ecc)-->
                                <div class="form-group" id="div_tt" style="display: none;">
                                    <label onmouseover="nhpup.popup('<strong>Type of test that will be performed.</strong><br><br>The selection of the type that will be associated with the test to be performed is useful and necessary for the purpose of better strategic management of one\'s own testing strategy.<br><br>Every single test or test group can be performed several times, associating it with different types of tests',{'class': 'pup_class3'});">Run as (?)</label>
                                    <div class="box-header">
                                        <select class="form-control" id="sel_ttype">
                                          <option value="Ad-hoc">Ad-hoc</option>
                                          <option value="Alpha">Alpha</option>
                                          <option value="Beta">Beta</option>
                                          <option value="Compatibility">Compatibility</option>
                                          <option value="Dependency">Dependency</option>
                                          <option value="Exploratory">Exploratory</option>
                                          <option value="Exhaustive">Exhaustive</option>
                                          <option value="Gorilla">Gorilla</option>
                                          <option value="Load">Load</option>
                                          <option value="Monkey">Monkey</option>
                                          <option value="Performance">Performance</option>
                                          <option value="Regression">Regression</option>
                                          <option value="Sanity">Sanity</option>
                                          <option value="Smoke">Smoke</option>
                                          <option value="Stress">Stress</option>
                                        </select>
                                    </div>
                                 </div>

                                <!-- Div contain values from main test set selected -->
                                <div id="div_val" class="form-group" style="display: none;">
                                    <div class="form-group" id="div_sched">
                                        <label onmouseover="nhpup.popup('<strong>Automatic test run intervals.</strong><br><br>Selecting Once, the test will only be performed one time.<br>In all other cases, depending on the selection, the test created will be executed repeatedly at the defined time interval until the user stops it from the <i>Active Threads</i> area',{'class': 'pup_class3'});">Select execution interval (?)</label>
                                        <div class="form-group">
                                            <select class="form-control" onChange="selSched(this);" id="sched_type">
                                                {% for sched in t_sched %}
                                                    <option id="opt_val"
                                                            value="{{ sched.sched_command }}">{{ sched.sched_desc }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Schedule data input"
                                                   id="sched_val" disabled="True">
                                        </div>
                                    </div>

                                </div>

                                <div class="box-footer" id="div_btn"></div>

                            </form>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </section>
                <!-- RIGHT session, at table click -->
                <section class="col-lg-7 connectedSortable ui-sortable">
                    <div class="box box-primary" id="div_thread">
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- interactive chart -->
                                <div class="box box-primary">
                                    <div class="box-header">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <h3 class="box-title">System Load Chart</h3>
                                        <div class="box-tools pull-right">
                                            Real time
                                            <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                                                <button type="button" class="btn btn-default btn-xs active"
                                                        data-toggle="on">On
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs" data-toggle="off">
                                                    Off
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body" id="int_div" style="min-height: 200px;">
                                        <!--Ajax interactively created-->
                                    </div><!-- /.box-body-->
                                </div><!-- /.box -->

                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div>
                    <div class="box box-primary" id="div_rst" style="display: none">
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- interactive chart -->
                                <div class="box box-primary">
                                    <div class="box-header">
                                        <i class="fa fa-code"></i>
                                        <h3 class="box-title">Preview</h3>
                                    </div>
                        <!-- Row for preview of test -->

                            <div class="col-md-12" id="rst1" style="background-color:black; color:yellow"></div>
                            <div class="col-md-12" id="rst2" style="background-color:black; color:yellow"></div>
                            <div class="col-md-12" id="rst3" style="background-color:black; color:yellow"></div>
                    </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div><!--/.col (right) -->


            <!-- Active threads table -->
            <input type="hidden" id="txtsord">
            <input type="hidden" id="txtsign">
            <div class="row" id="act_th">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Active Threads</h3>
                            <div class="box-tools">
                                <!--<div class="input-group">
                                    <input type="text" name="table_search"
                                           class="form-control input-sm pull-right"
                                           style="width: 150px;" placeholder="Search" id="txthish">
                                    <div class="input-group-btn">
                                    </div>
                                </div>-->
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-scroll table-responsive no-padding">
                            <table class="table table-hover" id="tab_threads">
                                <!--Ajax dinamically in home_comp.js-->
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
            <!-- TIMELINE -->
            <!-- row -->
            <div class="row" id="tline" style="visibility: hidden">
                <!-- Box on head of timeline -->
                <div class="pad margin">
                    <div class="box box-success">
                        <div class="box-header" id="tl_tit">
                            <h3 class="box-title" id="tl_h4"></h3>
                            <div class="box-tools pull-right">
                                <div class="btn-group" data-toggle="btn-toggle" id="btngrp">
                                    <!--Ajax creation -->
                                </div>
                            </div>
                        </div>
                        <div class="box-body" id="t_box1">
                            Process state: <code>.box.box-success</code>
                            <p>
                                List of executions linked to the process. Specific log details for each individual thread available using the 'Log details' button; The test structure created by the selected template is in 'RAW Html' button.
                            </p>
                            <button class="pull-right btn stopbtn" id="stop_btn">STOP <i
                                    class="fa fa-arrow-circle-right"></i></button>
                        </div><!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-12" id="divtl">
                    <!-- The time line -->
                    <ul class="timeline" id="ultl">
                        <!-- AJAX Dynamic in getTline (home_comp.js) -->
                    </ul>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section>
    </div><!-- /.content-wrapper -->

{% endblock %}
{% block script %}
    <!-- jQuery 2.1.3 -->
    <script src="{% static "plugins/jQuery/jQuery-2.1.3.min.js" %}"></script>
    <!-- Jquery UI -->
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <!-- SlimScroll -->
    <script src="{% static "plugins/slimScroll/jquery.slimScroll.min.js" %}" type="text/javascript"></script>
    <!-- FastClick -->
    <script src="{% static "plugins/fastclick/fastclick.min.js" %}"></script>
    <!-- datatables order -->
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "dist/js/app.min.js" %}" type="text/javascript"></script>
    <!-- Sparkline -->
    <script src="{% static "plugins/sparkline/jquery.sparkline.min.js" %}" type="text/javascript"></script>
    <!-- FLOT CHARTS -->
    <script src="{% static "plugins/flot/jquery.flot.min.js" %}" type="text/javascript"></script>
    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script src="{% static "plugins/flot/jquery.flot.resize.min.js" %}" type="text/javascript"></script>
    <!-- My js for ajax automatic template render -->
    <script src="{% static "js/start.js" %}" type="text/javascript"></script>
    <!-- Scripts for base_home components -->
    <script src="{% static "js/home_comp.js" %}" type="text/javascript"></script>
    <script src="{% static "dist/js/nhpup_1.1.js" %}" type="text/javascript"></script>
    <!-- Scripts for assign components -->
    <script src="{% static "js/assign_comp.js" %}" type="text/javascript"></script>
<!-- Scripts for base_home components -->
    <script src="{% static "js/tassist_comp.js" %}" type="text/javascript"></script>
<script type="text/javascript">
     function showHide(div_elem) {
        if (div_elem == "demo1") {
           document.getElementById("demo_slide1").style.display = "none";
           document.getElementById("demo_slide2").style.display = "block";
        } else if (div_elem == "demo2"){
            document.getElementById("demo_slide2").style.display = "none";
           document.getElementById("demo_slide3").style.display = "block";

        } else if (div_elem == "demo3") {
            document.getElementById("demo_slide3").style.display = "none";
            document.getElementById("demo_slide4").style.display = "block";

        } else {
            document.getElementById("overlay_demo").style.display = "none";
        }


        var x = getCookie('demoF');
        if (x === null) {
            setCookie('demoF','Y',7);
        }
     }
    </script>
<!-- Script x la gestione dei cookies primo accesso -->
    <script>
        function setCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
        function eraseCookie(name) {
            document.cookie = name+'=; Max-Age=-99999999;';
        }
    </script>
    <script>
        document.body.onload = function () {
            refTable();
            countElem();
            createLine();
        };
    </script>
{% endblock %}
