{% extends "base.html" %}

{% block title %}AidaTestSuite - Dashboard{% endblock %}
{% load static %}
{% block content %}

<style>
    .box2 {
        position: relative;
        border-radius: 3px;
        background: #ffffff;
        /*border-top: 3px solid #d2d6de; */
        margin-bottom: 20px;
        width: 100%;
        height: 280px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }

    .col-md-4_cus {
        width: 33.83333333%;
        right: 0;
        position: absolute;
    }

    .box2_cus {
        position: relative;
        border-radius: 3px;
        /* background: #ffffff; */
        /*border-top: 3px solid #d2d6de; */
        margin-bottom: 20px;
        width: 100%;
        height: 280px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }
    .box_tab {
        position: relative;
        border-radius: 3px;
        margin-bottom: 20px;
        width: 100%;
    }
</style>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Active Test
                <small>run and schedule testing</small>
            </h1>
            <!--
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
            -->
        </section>

        <!-- Div with overflow y -->
            <section class="content">
                <div class="row">
                    <!-- First area, title and template descr -->
                    <div class="col-md-4">
              <!-- Info box -->
              <div class="box2 box-info">
                <div class="box-header">
                  <h3 class="box-title">Info Box</h3>
                  <div class="box-tools pull-right">
                    <div class="label bg-aqua">Label</div>
                  </div>
                </div>
                <div class="box-body" style="height: 70%;">
                  Box class: <code>.box.box-info</code>
                  <p>
                    amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
                    berliner weisse wort chiller adjunct hydrometer alcohol aau!
                    sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
                  </p>
                </div><!-- /.box-body -->
                <div class="box-footer">
                  <code>.box-footer</code>
                </div><!-- /.box-footer-->
              </div><!-- /.box -->
            </div>
            <!--ENd template descr -->
                    <div class="col-lg-3 col-xs-6">
                        <div class="row">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>
                    150
                  </h3>
                  <p>
                    New Orders
                  </p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
                        </div>
                        <div class = "row">
                                          <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>
                    150
                  </h3>
                  <p>
                    New Orders
                  </p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
                        </div>
            </div>
                    <!-- Last right section with lib data and import option -->
                                        <!-- First area, title and template descr -->
                    <div class="col-md-4_cus">
              <!-- Info box -->
              <div class="box2_cus box-info">
                <div class="box-header">
                  <h3 class="box-title">Info Box</h3>
                  <div class="box-tools pull-right">
                    <div class="label bg-aqua">Label</div>
                  </div>
                </div>
                <div class="box-body" style="height: 70%;">
                  <!-- Tabella libs -->
                    <div class="box_tab">
                <div class="box-body no-padding">
                  <table class="table table-condensed">
                    <tbody><tr>
                      <th style="width: 10px">#</th>
                      <th>Task</th>
                      <th>Progress</th>
                      <th style="width: 40px">Label</th>
                    </tr>
                    <tr>
                      <td>1.</td>
                      <td>Update software</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-red">55%</span></td>
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td>Clean database</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-yellow">70%</span></td>
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td>Cron job running</td>
                      <td>
                        <div class="progress progress-xs progress-striped active">
                          <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-light-blue">30%</span></td>
                    </tr>
                    <tr>
                      <td>4.</td>
                      <td>Fix and squish bugs</td>
                      <td>
                        <div class="progress progress-xs progress-striped active">
                          <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-green">90%</span></td>
                    </tr>
                  </tbody></table>
                </div><!-- /.box-body -->
              </div>
                    <!--Fine tabella libs-->
                </div><!-- /.box-body -->
                <div class="box-footer">
                  <code>.box-footer</code>
                </div><!-- /.box-footer-->
              </div><!-- /.box -->
            </div>
                </div>
            </section>

        </div>


{% endblock %}
{% block script %}

{% endblock %}
        