{% extends "base.html" %}

{% block title %}AidaTestSuite - Dashboard{% endblock %}
{% load static %}
{% block content %}

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header" id="c_head">
            <h1>
                Test History
                <small>all test cases</small>
            </h1>
            <!--
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
            -->
        </section>
        {% if 'demo.myaida.io' in request.build_absolute_uri and uCookie != 'Y' %}
            <div id="overlay_demo" style="display:block">
                <div id="text-demo">
                    <div class="login-box-body">
                        <p class="login-box-msg"><strong>YOU ARE IN A DEMO AREA</strong></p>
                        <br>
                        The Aida environment you have access to is used only for demonstration purposes.<br>Data contained within are seen and can be managed by several users. Use this environment just for familiarize with the test suite and its characteristics.<br><br>To use a real dedicated Aida environment, create an account through the "<strong>Create account</strong>" buttons.
                        <br><br>
                    <div>
                    <!--Button for demo account only -->
                        <form>
                            <button onclick="showHide();" class="btn btn-block btn-success btn-lg">OK I UNDERSTAND</button>
                        </form>
                    </div>

                    </div>
                </div>
            </div>
        {% else %}
            <div id="overlay" style="display:block">
                <div id="text"><span style="background-color: #000000; padding: 10px;"> Fetching data from server....please wait </span></div>
            </div>
        {% endif %}
        <div id="overlay_proc" style="display:none">
            <div id="text"><span style="background-color: #000000; padding: 10px;"> Getting proces data...please wait </span></div>
        </div>
        <section class="content">
            <!-- first statistical boxes line -->
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3 id="h_box1">...</h3>
                            <p>Total Process</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-fork-repo"></i>
                        </div>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3 id="h_box2">...</h3>
                            <p>Warnings</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3 id="h_box3">...</h3>
                            <p>Pass average</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3 id="h_box4">...</h3>
                            <p>Fail average</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                    </div>
                </div><!-- ./col -->
            </div>
            <!-- end statistical boxes -->

            <!-- Start historical table -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">History Jobs</h3>
                            <div class="box-tools">
                                <!--
                                <div class="input-group">
                                    <input type="text" name="table_search"
                                           class="form-control input-sm pull-right"
                                           style="width: 150px;" placeholder="Search" id="txthis">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-default" onclick="filterHis(txthis.value)"><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>-->
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-scroll">
                            <table class="table table-bordered">
                                <tbody id="h_tab">
                                <!--<tr>
                                    <th style="width: 10px">Col1</th>
                                    <th>Col2</th>
                                    <th>Col3</th>
                                    <th style="width: 40px">Col4</th>
                                    <th>Col5</th>
                                    <th>Col6</th>
                                    <th>Col7</th>
                                    <th>Col8</th>
                                    <th>Col9</th>
                                    <th>Col10</th>
                                </tr>-->
                                </tbody>
                            </table>
                        </div><!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right" id="ul_group">
                                <!-- Ajax DOM generated in history_comp -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end historical table -->
            <!-- TIMELINE -->
            <!-- row -->
            <div class="row" id="tline" style="visibility: hidden">
                <!-- Box on head of timeline -->
                <div class="pad margin">
                    <div class="box box-success">
                        <div class="box-header" id="tl_tit">
                            <h3 class="box-title" id="tl_h4"></h3>
                            <div class="box-tools pull-right">
                                <div class="btn-group" data-toggle="btn-toggle" id="btngrp">
                                    <!--Ajax creation -->
                                </div>
                            </div>
                        </div>
                        <div class="box-body" id="t_box1">
                            Com class: <code>.data-toggle</code>
                            <!--
                            <p>
                                amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized
                                barrel.
                                berliner weisse wort chiller adjunct hydrometer alcohol aau!
                                sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
                            </p>
                            -->
                        </div><!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-12" id="divtl">
                    <!-- The time line -->
                    <ul class="timeline" id="ultl">
                        <!-- AJAX Dynamic in getTline (home_comp.js) -->
                    </ul>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section>
    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <!-- jQuery 2.1.3 -->
    <script src="{% static "plugins/jQuery/jQuery-2.1.3.min.js" %}"></script>
    <!-- Jquery UI -->
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <!-- SlimScroll -->
    <script src="{% static "plugins/slimScroll/jquery.slimScroll.min.js" %}" type="text/javascript"></script>
    <!-- FastClick -->
    <script src="{% static "plugins/fastclick/fastclick.min.js" %}"></script>
    <!-- datatables order -->
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "dist/js/app.min.js" %}" type="text/javascript"></script>
    <!-- Sparkline -->
    <script src="{% static "plugins/sparkline/jquery.sparkline.min.js" %}" type="text/javascript"></script>
    <!-- My js for ajax automatic template render -->
    <script src="{% static "js/history_comp.js" %}" type="text/javascript"></script>
    <!-- Scripts for base_home components -->
    <script src="{% static "js/home_comp.js" %}" type="text/javascript"></script>

    <script type="text/javascript">
     function showHide() {
        document.getElementById("overlay_demo").style.display = "none";

        var x = getCookie('demoF');
        if (x === null) {
            setCookie('demoF','Y',7);
        }
     }
    </script>
    <!-- Script x la gestione dei cookies primo accesso -->
    <script>
        function setCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
        function eraseCookie(name) {
            document.cookie = name+'=; Max-Age=-99999999;';
        }
    </script>
    <script>
        document.body.onload = function () {
            refHistory();
            countElem();
        };
    </script>
{% endblock %}
        