{% extends "base.html" %}

{% block title %}LyraProject - Dashboard{% endblock %}
{% load static %}
{% block content %}

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Active Test
                <small>run and schedule testing</small>
            </h1>
            <!--
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
            -->
        </section>
        <div id="overlay" style="display:none">
            <div id="text"><span style="background-color: #000000; padding: 10px;"> Transfering schema to the server....initializing </span></div>
        </div>
        <div id="overlay_proc" style="display:none">
            <div id="text"><span style="background-color: #000000; padding: 10px;"> Getting proces data...please wait </span></div>
        </div>
        <section class="content">
            <div class="row">
                <!-- Main content -->
                <section class="col-lg-5 connectedSortable ui-sortable">

                    <div class="box box-primary" id="t_launch">
                        <!-- general form elements disabled -->
                        <div class="box-header">
                            <h3 class="box-title">General Elements</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <form name="form_main" role="form">
                                <div class="form-group" id="type_sel">
                                    <label>Type selection</label>
                                    <div class="box-header">
                                    <select class="form-control" onChange="seltype(this);" id="sel_type">
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="ST">Single Template</option>
                                        <option value="TG">Test Group</option>
                                        <option value="TA">TAG Aggregation</option>
                                        <option value="PA">Project Aggregation</option>
                                    </select>
                                    </div>
                                </div>
                                <!-- select -->
                                <div class="form-group" id="test_sel">
                                    <label>Select Test</label>
                                        <div class="box-header">
                                        <select class="form-control" onChange="AddOptions(this);" id="sel_opt" disabled>
                                        <option value="">Please select...</option>
                                        <!-- DOM Created relative to main select -->
                                        </select>
                                        <div class="box-tools pull-right">
                                            <a href="/admin/" class="btn btn-sm btn-default"><i class="fa fa-edit"></i></a>
                                        </div>
                                        </div>
                                 </div>
                                <div class="form-group" id="test_tabs">
                                    <!-- Tab style container for multiple test selection -->
                                    <div class="nav-tabs-custom" id="tab_div1">
                                        <div class="tab-content" id="tab_div2">
                                            <!-- DOM dinamically crated in start.js AddOptions method -->
                                        </div><!-- /.tab-content -->
                                    </div>
                                    <!-- end tab containser -->
                                </div>

                                <!-- Div contain values from main test set selected -->
                                <div id="div_val" class="form-group" style="display: none;">
                                    <div class="form-group" id="div_sched">
                                        <label>Select</label>
                                        <div class="form-group">
                                            <select class="form-control" onChange="selSched(this);" id="sched_type">
                                                {% for sched in t_sched %}
                                                    <option id="opt_val"
                                                            value="{{ sched.sched_command }}">{{ sched.sched_desc }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Schedule data input"
                                                   id="sched_val" disabled="True">
                                        </div>
                                    </div>

                                </div>

                                <div class="box-footer" id="div_btn"></div>

                            </form>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </section>
                <!-- RIGHT session, at table click -->
                <section class="col-lg-7 connectedSortable ui-sortable">
                    <div class="box box-primary" id="div_thread">
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- interactive chart -->
                                <div class="box box-primary">
                                    <div class="box-header">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <h3 class="box-title">System Load Chart</h3>
                                        <div class="box-tools pull-right">
                                            Real time
                                            <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                                                <button type="button" class="btn btn-default btn-xs active"
                                                        data-toggle="on">On
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs" data-toggle="off">
                                                    Off
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-body" id="int_div" style="min-height: 200px;">
                                        <!--Ajax interactively created-->
                                    </div><!-- /.box-body-->
                                </div><!-- /.box -->

                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div>
                </section>
            </div><!--/.col (right) -->


            <!-- Active threads table -->
            <input type="hidden" id="txtsord">
            <input type="hidden" id="txtsign">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Active Threads</h3>
                            <div class="box-tools">
                                <div class="input-group">
                                    <input type="text" name="table_search"
                                           class="form-control input-sm pull-right"
                                           style="width: 150px;" placeholder="Search" id="txthish">
                                    <div class="input-group-btn">
                                        <!--<button class="btn btn-sm btn-default"><i class="fa fa-search"></i>
                                        </button>-->
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover" id="tab_threads">
                                <!--Ajax dinamically in home_comp.js-->
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
            <!-- TIMELINE -->
            <!-- row -->
            <div class="row" id="tline" style="visibility: hidden">
                <!-- Box on head of timeline -->
                <div class="pad margin no-print">
                    <div class="box box-success">
                        <div class="box-header" id="tl_tit">
                            <h3 class="box-title" id="tl_h4"></h3>
                            <div class="box-tools pull-right">
                                <div class="btn-group" data-toggle="btn-toggle" id="btngrp">
                                    <!--Ajax creation -->
                                </div>
                            </div>
                        </div>
                        <div class="box-body" id="t_box1">
                            Process state: <code>.box.box-success</code>
                            <p>
                                List of executions linked to the process. Specific log details for each individual thread available using the 'Log details' button; The test structure created by the selected template is in 'RAW Html' button.
                            </p>
                            <button class="pull-right btn btn-default" id="stop_btn">STOP <i
                                    class="fa fa-arrow-circle-right"></i></button>
                        </div><!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-12" id="divtl">
                    <!-- The time line -->
                    <ul class="timeline" id="ultl">
                        <!-- AJAX Dynamic in getTline (home_comp.js) -->
                    </ul>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section>
    </div><!-- /.content-wrapper -->

{% endblock %}
{% block script %}
    <!-- jQuery 2.1.3 -->
    <script src="{% static "plugins/jQuery/jQuery-2.1.3.min.js" %}"></script>
    <!-- Sparkline -->
    <script src="{% static "plugins/sparkline/jquery.sparkline.min.js" %}" type="text/javascript"></script>
    <!-- FLOT CHARTS -->
    <script src="{% static "plugins/flot/jquery.flot.min.js" %}" type="text/javascript"></script>
    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script src="{% static "plugins/flot/jquery.flot.resize.min.js" %}" type="text/javascript"></script>
    <!-- My js for ajax automatic template render -->
    <script src="{% static "js/start.js" %}" type="text/javascript"></script>
    <!-- Scripts for base_home components -->
    <script src="{% static "js/home_comp.js" %}" type="text/javascript"></script>

    <script>
        document.body.onload = function () {
            refTable();
            countElem();
        };
    </script>
{% endblock %}
        